documentacion/

# entornos
venv/
.venv/
.env
venv12/
etsacEnv/

__pycache__/
local_vectorstore/*
.DS_Store
.doc_cache/embeddings/
.doc_cache/*
*.bkp
crawl/crawled_data/*
corpora/*

crawl/*

# LaTeX
*.swp
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.syntex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml

