documentacion/
venv/
.venv/
.env
venv12/
__pycache__/
*.swp
crawl/crawled_data/*
local_vectorstore/*
.DS_Store
.doc_cache/embeddings/
.doc_cache/*
*.bkp
crawl/map.json
crawl/metadata.json
crawl/visited_urls.txt
etsacEnv/
crawl/
*.swp
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.syntex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml

corpora/*
